@import 'tailwindcss';

@theme {
  --color-primary-pale: hsl(225, 100%, 94%);
  --color-primary-bright: hsl(245, 75%, 52%);

  --color-neutral-blue-100: hsl(225, 100%, 98%);
  --color-neutral-blue-300: hsl(224, 23%, 55%);
  --color-neutral-blue-800: hsl(223, 47%, 23%);

  --font-red-hat-display: 'Red Hat Display', sans-serif;
}
